<div class="top-bar style2">
    <div class="logo">
        <a href="#/" title=""><i class="fa fa-terminal"></i> ProcessManager</a>
    </div>
    <ul>
        <li><a title=""><i class="fa fa-plus"></i>New Process</a></li>
        <li><a title=""><i class="fa fa-cloud-upload"></i>New Process</a></li>
    </ul>
</div>
<script type="text/javascript">
    $(document).ready(function(){
    
    "use strict";

    //***** Quick Stats *****//
    $('.open-hide-menu').on("click", function(){
        $(".horizontal-menu > nav").slideToggle('active');
    });

      //***** Quick Stats *****//
      $('.show-stats').on("click", function(){
        $(".toggle-content").addClass('active');
      });
     
       //***** Quick Stats *****//
      $('.toggle-content > span').on("click", function(){
        $(".toggle-content").removeClass('active');
      });

      //***** Quick Stats *****//
      $('.quick-links > ul > li > a').on("click", function(){
        $(this).parent().siblings().find('.dialouge').fadeOut();
        $(this).next('.dialouge').fadeIn();
        return false;
      });

      $("html").on("click", function(){
        $(".dialouge").fadeOut();
      });
      $(".quick-links > ul > li > a, .dialouge").on("click",function(e){
            e.stopPropagation();
        });
      
      //***** Toggle Full Screen *****//
      function goFullScreen() {
        var
            el = document.documentElement
          , rfs =
                 el.requestFullScreen
              || el.webkitRequestFullScreen
              || el.mozRequestFullScreen
              || el.msRequestFullscreen

      ;
      rfs.call(el);
      }
      $("#toolFullScreen").on("click",function() {
          goFullScreen();
      });

      $(".data-attributes span").peity("donut");
});
</script>
<script type="text/javascript">
    $( window ).load(function() {
        
        if ($(window).width() < 1200) {
            $(".horizontal-menu").on("click",function(e){
            e.stopPropagation();
            });
            $(".horizontal-menu  ul  li.menu-item-has-children > a").on("click",function(){
                $(this).parent().siblings().children("ul").slideUp();
                $(this).parent().siblings().removeClass("active");
                $(this).parent().children("ul").slideToggle();
                $(this).parent().toggleClass("active");
                return false;
            });
        }

    });


</script>